html {
  font-size: 100%;
}

.my-menu-box {
  position: relative;
}

.my-menu-box > button {
  position: absolute;
  height: 100%;
  right: 0;
  bottom: 0;
  background: none;
  border: 0;
}

.el-drawer__body {
  padding-top: 0px;
}

header.el-drawer__header > span {
  outline: none;
}

.theme_color_main {
  background-color: #7b5544;
}

#el-drawer__title {
  background-color: #f4f4f5;
  padding: 8px;
  margin-bottom: 24px;
}

div.el-card__body {
  /*カードのパッディングをデフォルトより小さく*/
  padding: 8px;
}

[v-cloak] {
  display: none;
}

.v-enter-from {
  opacity: 0;
  transform: translateY(12px);
}

.v-enter-active {
  transition: opacity 0.8s, transform 0.8s;
}

.el-dialog__body {
  padding: 16px !important;
}

/*ユーザにテキストをドラッグできなくさせる*/
.select-none {
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
}

.footer-bias {
  /*footer高さ分の下駄*/
  margin-bottom: 72px;
}

.bg-accent {
  background-color: bisque;
}

.active-row {
  background-color: #f56c6c;
  color: #fff;
}

.inactive-row {
  color: #c0c4cc;
}

span.el-input-number__increase,
span.el-input-number__decrease {
  width: 28px;
}

.el-input-number .el-input__wrapper {
  padding-left: 24px !important;
  padding-right: 24px !important;
  font-size: 1.2rem;
}

.el-dialog__body span {
  font-size: 1.2rem;
}

.active-menu-style {
  background-color: rgb(235, 180.6, 99) !important;
  color: #fff !important;
}
